{{#if error}}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
      {{error}}
    </div>
{{/if}}

<div class="container">
	<div class="col-md-12">
		<h2>Check Your Email for a Password Reset Link</h2>
	</div>
</div>