
<link rel="stylesheet" type="text/css" href="stylesheets/index.css"/>

<div class="background">
	<div class="container content overlay">
		<div class="row">
			<div class="col-md-12">
			<center>
				<div class="title">
					<h1>C L A S S R O O M</h1>
					<h2>M A R K E T</h2>
					<a href="/login"><button class="greenBtn customBtn">L O G I N</button></a>
					<div class="clear"></div>
					<a href="/register"><button class="redBtn customBtn">R E G I S T E R</button></a>
				</div>
			</center>
			</div>
		</div>
	</div>
</div>