
<link rel="stylesheet" type="text/css" href="stylesheets/index.css"/>

<div class="background">
	<div class="container content overlay">
		<div class="row">
			<div class="col-md-12">
			<center>
				<div class="title">
					<h1>C L A S S R O O M</h1>
					<h2>M A R K E T</h2>
					<a href="/login"><button class="greenBtn customBtn">L O G I N</button></a>
					<div class="clear"></div>
					<a href="/register"><button class="redBtn customBtn">R E G I S T E R</button></a>
				</div>
			</center>
			</div>
		</div>
	</div>
</div>

  <footer>
    <div class="container">
      <div class="col-md-12">
        <br><br>
        <center>
        <h4>Classroom Markets is available under the MIT license; additional terms may apply.</h4>
        <h4>Classroom Markets was developed by Eagle Wu. It's material was based on a paper by James Staveley-O'Carroll <a href="http://www.babson.edu/Academics/faculty/profiles/Pages/Staveley-O'Carroll-James.aspx">link here </a>, and supported by Babson College</h4>
        <img src="/images/babsonlogo.png" width="100px">
        </center>
      </div>
    </div>
  </footer>