<link rel="stylesheet" type="text/css" href="../stylesheets/home.css">
{{#if error}}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
      {{error}}
    </div>
{{/if}}
<div class="container">
<nav class="navbar navbar-default" style="background: none !important; border: none !important; -webkit-box-shadow: none !important">
  <div class="container-fluid">
    <div class="navbar-header" style="background: none !important; border: none !important">
      <a class="navbar-brand" href="#">
        <img src="./images/pie-chart.png" width="40vh">
      </a>
      </div>
      <form method="POST" class="navbar-form navbar-right" style="float: right !important; padding-top: 0.5vh;">
    <div class="form-group">
        <input type="text" name="username" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
    
        <input type="password" name="password" class="form-control" placeholder="Password">
    </div>
    <div class="form-group">
        <button style="background: #6CE317!important; padding: 6px; border: none !important; color: #FFF; font-size: 1em; border-radius: 3px">Login</button>
    </div>
    <div class="clear"></div>
        <a href="/password_reset" style="float: right">Forgot your password?</a>
    
</form>
    
  </div>
</nav>
</div>




<div class="container">
    
    <div class="col-md-6">
        <h1 style="color: #6CE317; font-size: 3.5em; margin-bottom: 0" class="hell">ClassRoom Markets</h1>
        <h1 style="color: #000000; font-size: 3em; margin-top: 1.5vh" class="hell">Create Teachable Moments in a Unique Market Simulation</h1>
        <a href="/register" style="margin-top: 2vh;"><button style="background: #6CE317!important; padding: 10px; border: none !important; color: #FFF; font-size: 1.5em; border-radius: 3px" >Get Started</button></a>
        
        </div>
    <div class="col-md-6 chart">
    </div>

</div>


 <footer>
    <div class="container">
      <div class="col-md-12">
      
        <center>
         <img src="/images/babsonlogo.png" width="10%">
        <h6>Classroom Markets is available under the MIT license; additional terms may apply.</h6>
        <h6>Classroom Markets was developed by Eagle Wu, is based on a paper by <a href="http://www.babson.edu/Academics/faculty/profiles/Pages/Staveley-O'Carroll-James.aspx" target="_blank"> James Staveley-O'Carroll </a>, and is supported by Babson College</h6>
       
        </center>
      </div>
    </div>
    </footer>

