<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/stylesheets/simple-sidebar.css">
<link rel="stylesheet" type="text/css" href="stylesheets/loginregister.css"/>
<link rel="stylesheet" type="text/css" href="stylesheets/home.css"/>
{{#if error}}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
      {{error}}
    </div>
{{/if}}

<div class="container"> 
    <div class="row">
    <center>
    <h1 class="join hell" style="color: #000000">Join ClassroomMarket</h1>
    </center>
        <div class="col-md-12 box">
         <form method = "POST">
         <h3>Register Here</h3>
         <div class="form-group">
            <label>First Name</label>
            <input type="text" name="firstName" value="{{data.firstName}}" class="form-control" required="true">
         </div>
         <div class="form-group">
            <label>Last Name</label>
            <input type="text" name="lastName" value="{{data.lastName}}" class="form-control" required="true">
         </div>

        <div class="form-group">
         <label>Profession</label>
         <select class="form-control" required="true" name="profession">
            <option>Student</option>
            <option>Professor</option>
         </select>
         </div>

         <div class="form-group">
            <label>Email Address</label>
            <input type="email" name="email" value="{{data.email}}" class="form-control" required="true">
         </div>


         <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" required="true">
         </div>

         <div class="form-group">
            <label>Verify Password</label>
            <input type="password" name="passwordRepeat" class="form-control" required="true">
         </div>

        <div class="form-group">
            <p>
            <button class="customBtn redBtn">Register</button>
            <a href="/login">Go To Login</a>
         </p>
            </div>
         </form>
        </div>

    </div>
</div>



