<link rel="stylesheet" type="text/css" href="/stylesheets/home.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/class.css"/>
<div class="container">

	<div class="col-md-12">
		<h1 class="secondTitle">End of Class Survey</h1>

		<form method="POST">
			<div class="form-group">
				<label>How did you enjoy Classroom Markets?</label>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="enjoyRadio"  value="1" checked>
   				 	Extremely delighted
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="enjoyRadio"  value="2">
   				 	Very delighted
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="enjoyRadio" value="3">
   				 	Delighted
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="enjoyRadio"  value="4">
   				 	Not delighted
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="enjoyRadio" value="5">
   				 	It sucked
 				 </label>
				</div>

			</div>

			<div class="form-group">
				<label>How likely would you use Classroom Markets in the future?</label>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="youRadio" value="1" checked>
   				 	Extremely likely
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="youRadio" value="2">
   				 	Very likely
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="youRadio"  value="3">
   				 	Likely
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="youRadio" value="4">
   				 	Not likely
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="youRadio" value="5">
   				 	Delete bookmark and block site
 				 </label>
				</div>

			</div>

			<div class="form-group">
				<label>How likely would you recommend other students to use Classroom Markets?</label>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="recommendRadio" value="1" checked>
   				 	Extremely likely
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="recommendRadio" value="2">
   				 	Very likely
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="recommendRadio" value="3">
   				 	Likely
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="recommendRadio" value="4">
   				 	Not likely
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="recommendRadio" value="5">
   				 	Tell my friends to stay away.
 				 </label>
				</div>

			</div>

			<div class="form-group">
				<label>How helpful was Classroom Markets in teaching the course materials?</label>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="teachRadio" value="1" checked>
   				 	Extremely helpful
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="teachRadio" value="2">
   				 	Very helpful
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="teachRadio" value="3">
   				 	Helpful
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="teachRadio" value="4">
   				 	Not helpful
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="teachRadio" value="5">
   				 	A bacon sandwich would have been more helpful
 				 </label>
				</div>

			</div>

			<div class="form-group">
				<label>How easy was the site to use?</label>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="easyRadio" value="1" checked>
   				 	Extremely easy
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="easyRadio" value="2">
   				 	Very easy
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="easyRadio" value="3">
   				 	Easy
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="easyRadio" value="4">
   				 	Not easy
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="easyRadio" value="5">
   				 	Basically Rocket Science
 				 </label>
				</div>

			</div>

			<div class="form-group">
				<label>How often did you use the website?</label>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="oftenRadio" value="1" checked>
   				 	Everyday
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="oftenRadio" value="2">
   				 	Every Week
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="oftenRadio" value="3">
   				 	Only before the assignment
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="oftenRadio" value="4">
   				 	Once or twice the semester
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="oftenRadio" value="5">
   				 	"Wait, we were using a website?!?"
 				 </label>
				</div>

			</div>

			<div class="form-group">
				<label>If the website had a virtual bank and stock market, how likely would you use it again?</label>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="addRadio" value="1" checked>
   				 	Extremely likely
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="addRadio" value="2">
   				 	Very likely
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="addRadio" value="3">
   				 	Likely
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="addRadio" value="4">
   				 	Not likely
 				 </label>
				</div>

				<div class="form-check">
 				 <label class="form-check-label">
   				 <input class="form-check-input" type="radio" name="addRadio" value="5">
   				 	Already hate the core site, don't make me hate you more Eagle.
 				 </label>
				</div>

			</div>


			<div class="form-group">
			<label>What are some areas in which the website can improve?</label>
			<textarea name="improve" class="form-control" rows="3"></textarea>
			</div>

			<div class="form-group">
			<label>What are some areas in which the classroom markets system can improve (not just the website)?</label>
			<textarea name="systemImprove" class="form-control" rows="3"></textarea>
			</div>

			<div class="form-group">
			<label>What did you like about the website (if anything)?</label>
			<textarea name="like" class="form-control" rows="3"></textarea>
			</div>

			<div class="form-group">
			<label>Any other thoughts? (about anything? maybe on how good looking the developers are?)</label>
			<textarea name="thoughts" class="form-control" rows="3"></textarea>
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>

		</form>

		<br><br><br>
	</div>

</div>