@font-face {
	font-family: "Helvetica";
	src: url('helveticalight.ttf');
}
.header{
	width: 100vw;
	height: 30vh;
	background: linear-gradient(-90deg, #373837, #5a5c5a);
}
.back{
	display: none;
}
h1{
	color: #FFF;
	margin-top: 10vh;
}
.insufficientId{
	display: none;
}
.hell{
	font-family: "Helvetica" !important
}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-top: 10px solid #000000;
}

.chart{
	background: url("../images/chart.jpg");
	background-size: contain;
	background-position: center;
	height: 80vh;
	background-repeat: no-repeat;
	background-position: center 50%;
}

h5{
	margin-top: 2vh;
	font-size: 1.5em;
	font-weight: 500;
}
.margin{
	margin-left: 1.3vw;
}
.margin-right{
	margin-right: 1.3vw;
}
.active-class{
	font-size: 3em;
}
.notblue{
	color: #000000;
}
.notblue:hover{
	color: #FFF;
}
.right-side{
	background-color: #FFF;
	margin: 1vh;
	border-radius: 10px;
	border: 1px solid #E0E0E0;
	
}
.noClass{
	margin-top: 10vh;
	text-align: center;
	color: #373837;
	margin-left: 0;
}
.createClasses{
	background-color: #32CD32 !important;
	color: #FFF !important;
	border: 1px solid #FFF !important;
	padding: 10px !important;
	border-radius: 3px;
}
.createClasses:hover{
	background-color: #006400 !important;
}
.classBox{
	width: 100%;
	height: auto;
	border: 1px solid black;
	margin-top: 1vh;
	border-radius: 3px;
}
.classBox:hover{
	background-color: #000000;
}
a:hover{
	text-decoration: none;
}
.active{
	font-size: 1.3em;
	color: red;
}
.classRoom{
	width: 90%;
	background: none;
	padding: 20px;
	border: 1px solid #000000;
	border-radius: 10px;
	margin: 20px;

}
hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#000000;
  height: 1px;
  margin-top: 1vh;
  margin-bottom: 0;
}
.red-box{
	padding: 5px;
	padding-left: 1vw;
	background-color: #8b0000;
	color: #FFF;
	margin-top: 3vh;
}
.warning:hover{
	background-color: #000000 !important;
}

.statBox{
	border: 1px solid black;
	padding: 10px;
}
.statBox h5{
	color: grey !important;
}


